<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <link href="{{ "/assets/icon144x144.png" | relative_url }}" rel="apple-touch-icon-precomposed" sizes="144x144">
  <link href="{{ "/assets/icon114x114.png" | relative_url }}" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link href="{{ "/assets/icon72x72.png" | relative_url }}" rel="apple-touch-icon-precomposed" sizes="72x72">
  <link href="{{ "/assets/icon144x144.png" | relative_url }}" rel="apple-touch-icon-precomposed">
  <meta name="msapplication-TileImage" content="icon-144x144.png">
  <link rel="mask-icon" href="{{ "/assets/safari-pinned-tab.svg" | relative_url }}" color="#3183FF">
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
</head>
