---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="page-heading">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    {%- for school in site.school -%}

      <aside class="work-item">

        <h2 class="school-title"><img class="school-logo" src="/assets/school/{{ school.icon }}.svg" alt="{{ school.school }}"> {{ school.school }}</h2>

        <h2 class="school-course">{{ school.course }}</h2>

        {%- if school.desc -%}
        <ul class="work-description">
          <li>{{ school.desc }}</li>
        </ul>
        {%- endif -%}

        <p class="work-time">Estudou em <i>{{ school.year }}</i></p>
      </aside>

    {%- endfor -%}

  </div>

</article>


