---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <h1>Who?</h1>

    <p>Meu nome é <b>{{ site.title }}</b>. Tenho 29 anos e resido atualmente em Sorocaba / Brasil e atuo como designer desde <b>2012</b>.</p>
        
    <p>Já passei por diversas agências de publicidade, atuando em diversas áreas como Diretor de Arte, Social Media, Arte Finalista e desenvolvedor Front-End. Conforme fui estudando, conheci mais sobre <b>experiência do usuário</b>, interações e a como construir interfaces que se adequam melhor ao uso para todos e fui cada vez mais estudando sobre.</p>
        
    <p>Combinando minha experiência em desenvolvimento com os conceitos básicos de UX, fui me aperfeiçoando em componentizações, padronizações e entrei no mundo do <b>Design System</b>. Além disso, comecei a estudar mais e mais sobre <b>acessibilidade</b> e como projetar interfaces que sejam de acesso a todos, sem nenhuma distinção.</p>
        
    <p>Atualmente, foco na área de <b>Design Ops</b> e como padronizações e métodos podem transformar uma empresa e trazer retornos nunca antes esperados.</p>

    <h1>How?</h1>

    <p>Sou especializado no uso de ferramentas de prototipação e UX, sendo minha principal o <b>Figma</b> (porém já trabalhei com Sketch e Adobe XD). Tenho um vasto conhecimento de Design Tokens e <b>Atomic Design</b>, auxiliando sempre os times de Design a avançar no quesito de boas práticas de UI e componentização. Tudo isso, acompanhado do uso de <b>metodologias ágeis</b>.</p>

    <p>Tenho uma grande experiência com <b>arquitetura de componentes</b> e engenharia dos mesmos no Figma, integrando os mesmos com desenvolvimento em uma linguagem unificada entre diferentes plataformas, auxiliando nos refinamentos entre desenvolvimento e design.</p>

    <p>Também atuo com interações e prototipações, auxiliando em <b>microinterações de telas</b> para testes com usuários e protótipos em alta fidelidade.</p>

    <p>Quanto a desenvolvimento, atuei como Desenvolvedor Front-End, me aprofundando em <b>CSS</b> e criação de componentes, atuando em diversos frameworks front-end.</p>

    {{ content }}
  </div>

</article>
