---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="page-heading">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content work-content">

    {%- for work in site.work -%}

      {% assign icon='/assets/work.name.svg' | relative_url %}

      <aside class="work-item">

        {%- if work.site -%}
        <a target="_blank" href="{{ work.site }}"><h2 class="work-title"><img class="work-logo" src="/assets/work/{{ work.name }}.svg" alt="{{ work.name }}"> {{ work.name }}</h2></a>
        {%- else -%}
          <h2 class="work-title"><img class="work-logo" src="/assets/work/{{ work.name }}.svg" alt="{{ work.name }}"> {{ work.name }}</h2>
        {%- endif -%}

        <ul class="work-description">
          {%- for desc in work.desc -%}
          <li>{{ desc }}</li>
          {%- endfor -%}
        </ul>

        <p class="work-time">
          {%- if work.data[1].fim -%}
            Trabalhou de <i>{{ work.data[0].inicio }}</i> até <i>{{ work.data[1].fim }}</i>
          {%- else -%}
            Trabalha de <i>{{ work.data[0].inicio }}</i> até o presente
          {%- endif -%}
        </p>
      </aside>
    {%- endfor -%}

  </div>

</article>


