.content {
  margin: var(--space-xl) 0;

  img {
    width: 100%;
    padding: var(--space-xs);
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    transition: border-color 120ms ease-in, box-shadow 120ms ease-in;

    &:hover {
      border-color: var(--color-accent);
      box-shadow: inset 0 0 0 4px var(--color-accent-bg);
    }
  }
}

.container {
  max-width: 1008px;
  padding: 0 var(--space-md-lg);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;

  &.profile {
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: var(--space-lg);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.switchers {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}
