[data-theme="dark"] {
  --color-bg: #333;
  --color-text: #fff;
  --color-title: #fff;
  --color-border: #fff;

  --color-accent: #e97eb8;
  --color-accent-bg: #690b3e;

  --color-alert: #fbd1a3;
  --color-alert-bg: #815512;
}

[data-theme="dark"] {
  --color-title: #fff;
}
