body {
  background: var(--color-bg);
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
  margin: 0;
}

p {
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: var(--space-sm);
}

h1,
h2 {
  color: var(--color-title);
  font-weight: normal;
}

h1 {
  font-size: 32px;

  span {
    font-weight: bold;
    color: var(--color-accent);
  }
}

h2 {
  font-size: 24px;
}
