$FontPath: "../fonts" !default;
$FontName: "Roboto" !default;
$FontVersion: "1.1.0" !default;

:root {
    --background: #fafafa;
    --links:#D4127B;
    --links-bg: #FEF2F9;
    --title-color: #333;
    --paragraph-color: #4a4a4a;
    --border-color: #666;
    --alert: #784D0B;
    --alert-bg: #FBD1A3;
    --trans-blue: #5bcffa;
    --trans-pink: #f5abb9;
    --trans-white: #ffffff;
    --box-shadow: rgba(100, 100, 111, 0.2);
}

[data-theme="dark"] {
    --background: #333;
    --links:#E97EB8;
    --links-bg: #690B3E;
    --title-color: #fff;
    --border-color: #fff;
    --paragraph-color: #fff;
    --alert: #FBD1A3;
    --alert-bg: #815512;
    --trans-blue: #5bcffa;
    --trans-pink: #f5abb9;
    --trans-white: #ffffff;
    --box-shadow: rgba(100, 100, 111, 0.2);
}