@import "variables";
@import "mixins";
@import "roboto";

a {
    color: var(--links);
    padding: 2px 2px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s ease-in;
    font-weight: normal;
}

a:not(.image):not(.header-link):not(.btn):hover {
    background: var(--links-bg);
    text-decoration: none;
}

p {
    color: var(--paragraph-color);
    line-height: 170%;
    font-weight: 300;
}

body {
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--paragraph-color);
    padding: 0;
    margin: 0;
}

.content {
    margin: 64px 0;
}

img {
    width: calc(100% - 10px);
    padding: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--border-color);
    transition: 120ms ease-in;

    &:hover {
        border-color: var(--links);
        box-shadow: inset 0px 0px 0px 4px var(--links-bg);
    }
}


section {
    margin-bottom: 32px;
}

h1 {
    color: var(--title-color);
    font-weight: normal;
    font-size: 32px;
    line-height: 170%;
    margin-bottom: 0;
    font-family: inherit;

    span {
        font-weight: bold;
        color: var(--links);
    }

    @media only screen and (max-width: 768px) {
        font-size: 48px;
        line-height: 58px;
    }
    
}

header {
    margin-bottom: 16px;

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 170%;
        margin: 0;
    }
}


h2 {
    color: var(--title-color);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 170%;
    margin-bottom: .5rem;
    font-family: inherit;

    #why & {
        margin-bottom: 16px;
    }
}



.list-item,
.course-item {
    border-bottom: 1px dashed var(--paragraph-color);
    margin-bottom: 16px;
}

.course-item {
    border: 0;
    margin-bottom: 8px;
}

.list-item.borderless,
.course-item.borderless {
    border-bottom: 0;
}

.list-item p,
.course-item p {
    color: var(--paragraph-color);
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 8px;
}

.list-item h3 {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    padding: 8px;
}

.list-item ul,
.course-item ul {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    padding: 0;
}

.course-item ul {
    font-size: 14px;
}

.switchers {
    margin-bottom: 32px;
}

.language-switcher {
    display: inline-flex;
    margin: 0 8px;
}

.lang {
    border-radius: 4px 0 0 4px;
    background: transparent;
    text-decoration: none;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    padding: 8px 12px;

    &:hover {
        text-decoration: none;
        color: var(--title-color);
        transition: 0.2s ease-in;
    }

    &:last-child {
        border-left: 0;
        border-radius: 0 4px 4px 0;
    }

    &.active {
        color: var(--background);
        background: var(--title-color);
    }
}

.new_item {
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--alert);
    background: var(--alert-bg);
}

.new_text {
    border-left: 2px solid var(--alert-bg);
    padding-left: 8px;
    margin-left: -8px;
}

/* CURSOS
-------------------------------------- */

.cursos-box {
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    margin-bottom: .5rem;

    h3 {
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
    }

    .listagem {
        padding: 8px;
        margin-bottom: 0;
        border-top: 1px dashed var(--title-color);
    }
    
}


/* THEMES
--------------------------------------- */

.theme-switch-wrapper {
    display: inline-flex;
    align-items: center;

    em {
        margin-left: 10px;
        font-size: 1rem;
    }
}

.back-wrapper {
    display: inline-flex;
    align-items: center;
}

.theme-switch {
    margin-bottom: 0;
    display: inline-block;
    position: relative;

    input {
        display:none;
    }
}

.slider,
.header-link {
    background-color: transparent;
    border: 1px solid var(--title-color);
    bottom: 0;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
}

.header-link {
    transition: .4s;
    color: var(--title-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    border-radius: 4px;

    &:hover {
        text-decoration: none;
        background: var(--background);
        color: var(--title-color);
    }

}


.slider:before {
    content: "Dark mode";
    transition: .4s;
    color: var(--title-color);
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
}

input:checked + .slider {
    background-color: transparent;
}

input:checked + .slider:before {
    content: "Light mode";
}

.slider.round {
    border-radius: 4px;

    &:before {
        border-radius: 0;
    }
    
}

/* GRID SYSTEM
--------------------------------------- */

.container {
    max-width: 960px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;

    &.profile {
        grid-template-columns: 3fr 2fr;
        align-items: center;

        @media only screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }

    }
}

.col {
    margin: 0 16px;
}

/* GOOGLE CHROME
--------------------------------------- */

.chrome-alert {
    z-index: 9999;
    position: fixed;
    background: var(--links-bg);
    color: var(--links);
    padding: 8px 0;
    border-bottom: 1px solid var(--links);
    top: 0;
    width: 100%;
    

    p {
        margin: 0;
        display: inline-block;
        color: var(--links);
    }

    a {
        display: block;
        padding: 4px 8px;
        border: 1px solid var(--links);
        background-color: transparent;

        &:hover {
            background: var(--links);
            color: var(--links-bg);
        }
    }

    .block {
        margin: auto;
        box-sizing: border-box;
        padding: 0 16px;
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}